.node-red/flows.json
[{"id":"b91226ab.1c0098","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e5b89e1d.9537f","type":"investment-portfolio","z":"","name":"","host":"investment-portfolio.mybluemix.net"},{"id":"37eee752.3a7d78","type":"predictive-market-scenario","z":"","name":"","host":"fss-analytics.mybluemix.net"},{"id":"cc735df4.cbc0a","type":"simulated-instrument-analytics","z":"","name":"","host":"fss-analytics.mybluemix.net"},{"id":"d288d607.ac61e8","type":"portfolio-read","z":"b91226ab.1c0098","name":"","service":"e5b89e1d.9537f","portfolioName":"","date":"","time":"","limit":1,"sort":"asc","hasKey":"","hasKeyValue":null,"hasNoKey":"","selector":null,"x":420,"y":300,"wires":[["66347f97.ef847"]]},{"id":"3f6259cc.5c88d6","type":"http in","z":"b91226ab.1c0098","name":"","url":"/red/portfolionames","method":"get","upload":false,"swaggerDoc":"","x":230,"y":300,"wires":[["d288d607.ac61e8"]]},{"id":"ace7e2f0.eb899","type":"http response","z":"b91226ab.1c0098","name":"","statusCode":"","headers":{"Content-type":"application/json"},"x":910,"y":340,"wires":[]},{"id":"66347f97.ef847","type":"change","z":"b91226ab.1c0098","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.portfolios[].name","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":300,"wires":[["64c1c893.7b3d98"]]},{"id":"5cc7fedb.52be9","type":"http in","z":"b91226ab.1c0098","name":"","url":"/red/getriskfactors","method":"get","upload":false,"swaggerDoc":"","x":220,"y":360,"wires":[["f5d4df2f.93a71"]]},{"id":"f5d4df2f.93a71","type":"http request","z":"b91226ab.1c0098","name":"","method":"GET","ret":"obj","url":"http://localhost:1880/red/predictive-market-scenario/factors","tls":"","x":430,"y":360,"wires":[["d38a327a.0bb1e"]]},{"id":"d99744ce.0d3eb8","type":"json","z":"b91226ab.1c0098","name":"","property":"payload","action":"","pretty":false,"x":770,"y":340,"wires":[["ace7e2f0.eb899"]]},{"id":"d38a327a.0bb1e","type":"change","z":"b91226ab.1c0098","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$map(payload, function($v) {{$v.id: $v.name}})","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":360,"wires":[["d99744ce.0d3eb8"]]},{"id":"3770432e.2b935c","type":"http response","z":"b91226ab.1c0098","name":"","statusCode":"","headers":{},"x":890,"y":280,"wires":[]},{"id":"64c1c893.7b3d98","type":"json","z":"b91226ab.1c0098","name":"","property":"payload","action":"","pretty":false,"x":750,"y":280,"wires":[["3770432e.2b935c"]]},{"id":"b0f64f7c.9e9e","type":"http in","z":"b91226ab.1c0098","name":"","url":"/red/analyze","method":"post","upload":false,"swaggerDoc":"","x":210,"y":420,"wires":[["bc30f304.d8e34"]]},{"id":"bc30f304.d8e34","type":"change","z":"b91226ab.1c0098","name":"","rules":[{"t":"set","p":"payload.factor","pt":"msg","to":"payload.riskfactor","tot":"msg"},{"t":"set","p":"payload.shock","pt":"msg","to":"(payload.shockmag * 100) - 100","tot":"jsonata"},{"t":"set","p":"payload.portfolioName","pt":"msg","to":"payload.portfolio","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":420,"wires":[["10c02f57.7f5a51"]]},{"id":"10c02f57.7f5a51","type":"stress-test","z":"b91226ab.1c0098","name":"","investmentPortfolioService":"e5b89e1d.9537f","predictiveMarketScenarioService":"37eee752.3a7d78","simulatedInstrumentAnalyticsService":"cc735df4.cbc0a","portfolioName":"","date":"","time":"","hasKey":"","latest":false,"shock":"","factor":"","x":570,"y":420,"wires":[["2d7b23dd.7f12ec"]]},{"id":"3fbb4474.373a4c","type":"json","z":"b91226ab.1c0098","name":"","property":"payload","action":"","pretty":false,"x":750,"y":440,"wires":[["8bb779b2.6b81e8"]]},{"id":"8bb779b2.6b81e8","type":"http response","z":"b91226ab.1c0098","name":"","statusCode":"","headers":{},"x":890,"y":440,"wires":[]},{"id":"2d7b23dd.7f12ec","type":"change","z":"b91226ab.1c0098","name":"","rules":[{"t":"set","p":"payload.marketConditions","pt":"msg","to":"$map(\t   payload.conditions,\t   function($v) {\t       {\t           'Risk_factor': $v.factor,\t           'Stress_shift': $v.stressShift\t       }\t\t   }\t)","tot":"jsonata"},{"t":"set","p":"payload.holdingsInfo","pt":"msg","to":"$map(\t   payload.holdings,\t   function($v) {\t       {\t           'Asset': $v.asset,\t           'CompanyName': $v.companyName,\t           'Quantity': $v.quantity,\t           'BaseVal': $v.baseValue,\t           'NewVal': $v.newValue\t       \t       }\t\t   \t   }\t\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":620,"wires":[["3fbb4474.373a4c"]]},{"id":"7cf9573f.7450b8","type":"holdings-read","z":"b91226ab.1c0098","name":"","service":"e5b89e1d.9537f","portfolioName":"MyFixedIncomePortfolio","date":"","time":"","hasKey":"","latest":false,"x":270,"y":740,"wires":[["a95771a1.656ea"]]},{"id":"f1de073e.b888c8","type":"inject","z":"b91226ab.1c0098","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":680,"wires":[["7cf9573f.7450b8"]]},{"id":"a95771a1.656ea","type":"debug","z":"b91226ab.1c0098","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":760,"wires":[]}]